{% extends "layout.html" %}

{% block article_body %}

{% include "includes/bond-interactive.html" %}

{% markdown %}

I have not here been considering the literary use of language, but merely
language as an instrument for expressing and not for concealing or preventing
thought. Stuart Chase and others have come near to claiming that all abstract
words are meaningless, and have used this as a pretext for advocating a kind of
political quietism. Since you don't know what Fascism is, how can you struggle
against Fascism? One need not swallow such absurdities as this, but one ought
to recognize that the present political chaos is connected with the decay of
language, and that one can probably bring about some improvement by starting at
the verbal end. If you simplify your English, you are freed from the worst
follies of orthodoxy. You cannot speak any of the necessary dialects, and when
you make a stupid remark its stupidity will be obvious, even to yourself.
Political language -- and with variations this is true of all political
parties, from Conservatives to Anarchists -- is designed to make lies sound
truthful and murder respectable, and to give an appearance of solidity to pure
wind. One cannot change this all in a moment, but one can at least change one's
own habits, and from time to time one can even, if one jeers loudly enough,
send some worn-out and useless phrase -- some _jackboot, Achilles' heel,
hotbed, melting pot, acid test, veritable inferno_, or other lump of verbal
refuse -- into the dustbin, where it belongs.

{% endmarkdown %}
{% endblock %}
