<div id="bond-interactive">
  <div class="step">
    {% markdown %}
    Over the last two decades, bond rates — which follow interest rates — around the world have decreased. The ten-year US Treasury yield — which was as high as 16 per cent in 1981 — is now just about 1.5 per cent.
    {% endmarkdown %}
    <div id="interest-rates-chart"></div>
    <div class="sourceline">Source: Thomson Reuters Datastream</div>
  </div>

  <div class="step">
    {% markdown %}
    When US long-term interest rates were nearly 16 per cent, pension funds wanting an annual payout of $16m could buy $100m worth of bonds. But now with an interest rate of 1.5 per cent, pension funds only receive an annual payout of $1.5m with a $100m bond.
    {% endmarkdown %}
    <div class="bar-graphic">
      <div class="pf-liability"></div>
      <div class="pf-bar pf-bar-first">
        <div class="pf-principle"></div>
        <div class="pf-interest pf-interest-16"></div>
      </div>
      <div class="pf-bar pf-bar-second">
        <div class="pf-principle"></div>
        <div class="pf-interest pf-interest-16-dotted">
          <div class="pf-interest pf-interest-1point5"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="step">
    {% markdown %}
    This is particularly bad for pension funds, which rely on bonds to fund yearly payouts. To make up the difference for lower interest rates, pension funds have to spend more to get the same annual return.

    To continue the example, you would need to invest as much as $1.1bn at 1.5 per cent interest rates to make the same amount you would have made with 16 per cent interest rates and $100m, all other things equal.
    {% endmarkdown %}
    <div class="bar-graphic bar-graphic-second">
      <div class="pf-liability"></div>
      <div class="pf-bar pf-bar-first">
        <div class="pf-principle"></div>
        <div class="pf-interest pf-interest-16"></div>
      </div>
      <div class="pf-bar pf-bar-second">
        <div class="pf-principle"></div>
        <div class="pf-interest pf-interest-16-dotted">
          <div class="pf-interest pf-interest-1point5"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="step">
    {% markdown %}
    Add to that the fact that people are living longer.
    {% endmarkdown %}
    <div id="life-expectancies-chart"></div>
    <div class="sourceline">Source: UN</div>
  </div>

  <div class="step">
    {% markdown %}
    Pension funds are on the hook for more money every year.
    {% endmarkdown %}
    <div id="assets-liabilities-chart"></div>
    <div class="sourceline">Source: Ryan ALM, Inc</div>
  </div>

  <div class="step">
    {% markdown %}
    Let's look at some real numbers. [Charts here]
    {% endmarkdown %}
  </div>

  <div class="step">
    {% markdown %}
    That's the equivalent of @@, @@ and @@.
    {% endmarkdown %}
    <div id="compare-pds">
      <h2 class="o-typography-heading2">Interactive: How big is the pension deficit?</h2>
      <p class="interactive-sentence">The <span id="publicprivate"><span class="interactive-option" id="interactive-option--public" role="button" aria-pressed="true">public</span> <span class="interactive-option" id="interactive-option--private" role="button" aria-pressed="false">private</span></span> pension deficit in the <span id="usuk"><span class="interactive-option" id="interactive-option--us" role="button" aria-pressed="true">US</span> <span class="interactive-option" id="interactive-option--uk" role="button" aria-pressed="false">UK</span></span> is <br /><span id="interactive-result"></span><br /> than <input type="text" id="interactive-compare" placeholder="Company or country" />.</p>
      <p id="tweetable">The US pension deficit is 6 times bigger than Apple.%0D%0A&#9607;&#9607;&#9607;&#9607;&#9607;&#9607;&nbsp;US deficit $3.4tn%0D%0A&#9607;&nbsp;Apple $0.5tn%0D%0A</p>
      <button class="o-buttons o-buttons--standout" id="random">Generate random</button>
      <button class="o-buttons o-buttons--standout" id="tweet">Tweet</button>
      <div class="sourceline">Sources: <a href="http://data.worldbank.org/indicator/NY.GDP.MKTP.CD" target="_blank">World Bank</a>, Bloomberg, Mercer, GASB</div>
    </div>
  </div>

  <div class="step">
    {% markdown %}
    So what's the solution?
    {% endmarkdown %}
  </div>


</div>
