<div id="bond-interactive">
  <div class="step">
    {% markdown %}
    In 1981, US long-term interest rates were as high as nearly 16 per cent. This means that a pension fund wanting an annual payout of $16 could buy a bond for $100. [ block animation ]
    {% endmarkdown %}
    <img src="images/scene1.gif" />
  </div>

  <div class="step">
    {% markdown %}
    Over the years, interest rates have decreased. The ten-year Treasury yield is now just about 1.5 per cent. [ chart showing decreasing interest rates ]
    {% endmarkdown %}
  </div>

  <div class="step">
    {% markdown %}
    With an interest rate of 1.5 per cent, pension funds only receive an annual payout of $1.50 with a $100 bond. [ block animation like above but with interest rate of 1.5 per cent ]
    {% endmarkdown %}
  </div>

  <div class="step">
    {% markdown %}
    This is particularly bad for pension funds, which rely on bonds to fund yearly payouts. Bonds are much easier to predict. To make up the difference for lower interest rates, pension funds have to spend more to get the same annual return. [ block animation showing the difference ]
    {% endmarkdown %}
  </div>

  <div class="step">
    {% markdown %}
    Add to that the fact that people are living longer. Pension funds are on the hook for more money every year. [Chart showing liabilities growing faster than assets]
    {% endmarkdown %}
  </div>

  <div class="step">
    {% markdown %}
    Let's look at some real numbers. [Charts here]
    {% endmarkdown %}
  </div>

  <div class="step">
    {% markdown %}
    That's the equivalent of @@, @@ and @@. Compare that pension deficit with things you are familiar with. [ Cute interactive thing that people can share on social or maybe a static graphic. ] 
    {% endmarkdown %}
  </div>

  <div class="step">
    {% markdown %}
    So what's the solution?
    {% endmarkdown %}
  </div>


</div>
