<div id="bond-interactive">
  <div class="step">
    {% markdown %}
    In 1984, interest rates were at 16 per cent. This means that with a 10-year bond, for every $100 bond you bought, you would receive $16 a year and receive $100 back after 10 years. This means that after 10 years, you would make $16 x 10 years + 100 = $260. [ block animation ]
    {% endmarkdown %}
    <img src="images/scene1.gif" />
  </div>

  <div class="step">
    {% markdown %}
    Over the years, interest rates have decreased. They are now just about 1.5 per cent. [ chart showing decreasing interest rates ]
    {% endmarkdown %}
  </div>

  <div class="step">
    {% markdown %}
    With an interest rate of 1.5 per cent, this means that pension funds buying 10 year bonds for $100 are only making $1.50 x 10 years + 100 = $115. [ block animation ]
    {% endmarkdown %}
  </div>

  <div class="step">
    {% markdown %}
    This is particularly bad for pension funds, which rely on bonds to fund yearly payouts. With lower interest rates, pension funds are finding that they need to spend much more to achieve the desired return. [ block animation ]
    {% endmarkdown %}
  </div>

  <div class="step">
    {% markdown %}
    To make the same amount as they did in 1984, pension funds now need to buy $__ in bonds instead of just $100 to keep up. [ block animation ]
    {% endmarkdown %}
  </div>

  <div class="step">
    {% markdown %}
    Add to that the fact that people are living longer. Pension funds are on the hook for more money every year. [Chart showing liabilities growing faster than assets]
    {% endmarkdown %}
  </div>

  <div class="step">
    {% markdown %}
    Let's look at some real numbers. [Charts here]
    {% endmarkdown %}
  </div>

  <div class="step">
    {% markdown %}
    That's the equivalent of @@, @@ and @@. Compare that pension deficit with things you are familiar with. [ Cute interactive thing that people can share on social ] 
    {% endmarkdown %}
  </div>

  <div class="step">
    {% markdown %}
    So what's the solution?
    {% endmarkdown %}
  </div>


</div>
